    .box {
        height: 8rem;
        margin-top: 15%; 
        background-color: #fff;
    -webkit-box-shadow: -22px 22px 18px -15px rgba(0,0,0,0.25);
    -moz-box-shadow: -22px 22px 18px -15px rgba(0,0,0,0.25);
    box-shadow: -22px 22px 18px -15px rgba(0,0,0,0.25);
      }

      .logo {
        width: 84%;
        margin-top: 17%;
      }
      
      .frontE {
        font-family: 'Italian', serif;
        font-size: 12px;
        margin-top: 1%;
      }


@media only screen and (min-width: 5px) and (max-width: 340px){
    .box {
        height: 6rem;
        margin-top: 32%;
      }

      .logo {
        width: 86%;
        margin-top: 17%;
      }
      
      .frontE {
        font-family: 'Italian', serif;
        font-size: 10px;
        margin-top: 1%;
      }
}

@media only screen and (min-width: 341px) and (max-width: 487px) {
    .box {

        height: 8rem;
        margin-top: 20%;
      }

      .logo {
        width: 86%;
        margin-top: 13%;
      }
      
      .frontE {
        font-family: 'Italian', serif;
        font-size: 10px;
        margin-top: 1%;
      }
}

@media only screen and (min-width: 487px) and (max-width: 600px) {
    .box {
        height: 10rem;
        margin-top: 13%;
      }

      .logo {
        width: 84%;
        margin-top: 15%;
      }
      
      .frontE {
        font-family: 'Italian', serif;
        font-size: 17px;
        margin-top: 1%;
      }

}

@media only screen and (min-width: 601px) and (max-width: 769px) {
    .box {
    
        height: 11rem;
        margin-top: 11%;
      }

      .logo {
        width: 84%;
        margin-top: 14%;
      }
      
      .frontE {
        font-family: 'Italian', serif;
        font-size: 17px;
        margin-top: 1%;
      }
}

@media only screen and (min-width: 770px) and (max-width: 800px) {
    .box {
        
        height: 11rem;
        margin-top: 11%;
      }

      .logo {
        width: 84%;
        margin-top: 14%;
      }
      
      .frontE {
        font-family: 'Italian', serif;
        font-size: 17px;
        margin-top: 1%;
      }
}

@media only screen and (min-width: 801px) and (max-width: 992px) {
    .box {
        
        height: 11rem;
        margin-top: 11%;
      }

      .logo {
        width: 84%;
        margin-top: 11%;
      }
      
      .frontE {
        font-family: 'Italian', serif;
        font-size: 17px;
        margin-top: 1%;
      }
}

@media only screen and (min-width: 993px) {
    .box { 
        height: 12rem;
        margin-top: 11%;
      }

      .logo {
        width: 83%;
        margin-top: 13%;
      }
      
      .frontE {
        font-family: 'Italian', serif;
        font-size: 18px;
        margin-top: 1%;
      }
}

@media (min-width: 1200px) {
    .box {
        height: 13rem;
        margin-top: 6%;
      }

      .logo {
        width: 88%;
        margin-top: 13%;
      }
      
      .frontE {
        font-family: 'Italian', serif;
        font-size: 21px;
        margin-top: 1%;
      }
} 