@media (min-width: 5px) and (max-width: 340px) {
    .backgroundContact { 
        height: 21.5rem;
        }

        .contactTitle {
          margin-top: 27%;
        }
        
        .textContact {
          font-family: "Scope One", serif;
          font-size: 12px;
          margin-top: -8%;
          padding: 21px;
        }
        
        .textContactTop{
          margin-top: -17%;
          font-weight: bold;
        }
        
        .contactBox {
          display: flex;
          align-items: baseline;
          margin-left: 11%; 
          margin-top: 5%;
        }
        
        .linkedin {
          width: 2rem;
        }

        .email {
            width: 1.8rem;
        }

        .github {
            width: 2rem;
        }

}

@media (min-width: 341px) and (max-width: 600px) {
  .backgroundContact { 
    height: 23rem;
    width: 30rem;
    
    }

    .contactTitle {
      margin-top: 23%;
    }
    
    .textContact {
      font-family: "Scope One", serif;
      font-size: 12px;
      margin-top: 7%;
      padding: 29px;
    }
    
    .textContactTop{
      margin-top: -24%;
      font-weight: bold;
    }
    
    .contactBox {
      display: flex;
      align-items: baseline;
      margin-left: 11%; 
      margin-top: -1%;
    }
    
    .linkedin {
      width: 2rem;
    }

    .email {
        width: 1.8rem;
    }

    .github {
        width: 2rem;
    }   
}

/* @media (min-width: 341px) and (max-width: 600px) and (orientation: landscape) {
    .backgroundContact {
        height: 90%;
        
        }
        
        .textContact {

          font-family: "Scope One", serif;
          font-size: 18px;
          margin-top: 20%;
        }
        
        .textContactTop{
          margin-top: 1%;
          margin-bottom: 20%;
        }
        
        .contactBox {
          display: flex;
        }
        
        .imgContact {
          width: 90%;
        }       
} */

@media (min-width: 601px) and (max-width: 992px) {
    .backgroundContact {
        height: 53rem;
        width: 69rem;
        
        }
        
        .textContact {
          font-family: "Scope One", serif;
          font-size: 18px;
          margin-top: 12%;
        }
        
        .textContactTop{
          margin-top: 1%;
          margin-bottom: 20%;
        }
        
        .contactBox {
          display: flex;
        }
        
        .imgContact {
          width: 90%;
        }
}

@media (min-width: 993px) {
    .backgroundContact {
        height: 53rem;
        
        }
        
        .textContact {
          font-family: "Scope One", serif;
          font-size: 18px;
          margin-top: 12%;
        }
        
        .textContactTop{
          margin-top: 1%;
          margin-bottom: 20%;
        }
        
        .contactBox {
          display: flex;
        }
        
        .imgContact {
          width: 90%;
        }
}

@media (min-width: 1200px) {
    .backgroundContact {
        height: 53rem;
        
        }
        
        .textContact {
          font-family: "Scope One", serif;
          font-size: 18px;
          margin-top: 12%;
        }
        
        .textContactTop{
          margin-top: 1%;
          margin-bottom: 20%;
        }
        
        .contactBox {
          display: flex;
        }
        
        .imgContact {
          width: 90%;
        }
}

