@media (min-width: 5px) and (max-width: 340px) {
    .backgroundInterests {
        background-color: #fff;
        height: 60vh;
        padding: 5%;
        width: 24.2rem;
      }
      
      .interestBox {
        margin-top: 40%;
      }

      .titleInter {
          margin-top: 38%;
      }

      .imgInterest {
        width: 5vh;
      }
      
      .subtitleInter {
        font-family: 'Scope One', serif;
        font-size: 12px;
      }      
}

@media (min-width: 341px) and (max-width: 600px) {
    .backgroundInterests {
        background-color: #fff;
        height: 66vh;
        width: 30rem;
        padding: 5%;
      }
      
      .interestBox {
        margin-top: 40%;
      }

      .titleInter {
          margin-top: 30%;
      }

      .imgInterest {
        width: 6vh;
      }
      
      .subtitleInter {
        font-family: 'Scope One', serif;
        font-size: 12px;
      } 
}

@media (min-width: 601px) and (max-width: 992px) {
    .backgroundInterests {
        background-color: #fff;
        height: 74vh;
        padding: 12%;
      }
      
      .interestBox {
        margin-top: 45%;
      }
      
      .subtitleInter {
        font-family: 'Scope One', serif;
        font-size: 18px;
      }      
}

@media (min-width: 993px) {
    .backgroundInterests {
        background-color: #fff;
        height: 74vh;
        padding: 12%;
      }
      
      .interestBox {
        margin-top: 45%;
      }
      
      .subtitleInter {
        font-family: 'Scope One', serif;
        font-size: 18px;
      }
}

@media (min-width: 1200px) {
    .backgroundInterests {
        background-color: #fff;
        height: 74vh;
        padding: 12%;
      }
      
      .interestBox {
        margin-top: 45%;
      }
      
      .subtitleInter {
        font-family: 'Scope One', serif;
        font-size: 18px;
      }
}