@media only screen and (min-width: 5px) and (max-width: 340px) {
  .personalSkills{
    background-color: #fff;
    height: 70vh;
    width: 24.5rem;

  }

  .titlePersonalS {
    margin-top: 38%;
  }
  
  .lista {
    margin-top: 20%;
  }
  
  .textoLista {
    margin-top: 10%;
    font-family: 'Scope One', serif;
    font-size: 12px;
  }
  
  .focoSkills {
    width: 21%;
    margin-top: 5%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
  
}

@media (min-width: 341px) and (max-width: 600px) {
  .personalSkills{
    background-color: #fff;
    height: 72vh;
    width: 30rem;
  }

  .titlePersonalS {
    margin-top: 49%;
  }
  
  .lista {
    margin-top: 20%;
  }
  
  .textoLista {
    margin-top: 10%;
    font-family: 'Scope One', serif;
    font-size: 12px;
  }
  
  .focoSkills {
    width: 21%;
    margin-top: 5%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }     
}

@media (min-width: 601px) and (max-width: 992px) {
  .personalSkills{
    background-color: #fff;
    height: 90vh;
    padding: 21%;
    width: 69rem;
  }

  .titlePersonalS{
    margin-top: -41%; 
  }
  
  .lista {
    margin-top: 20%;
  }
  
  .textoLista {
    margin-top: 10%;
    font-family: 'Scope One', serif;
    font-size: 13px;
  }
  
  .focoSkills {
    width: 21%;
    margin-top: 15%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }  
}

@media (min-width: 993px) {
  .personalSkills{
    background-color: #fff;
    height: 74vh;
    padding: 5%;
    width: 26.5rem;
  }
  
  .lista {
    margin-top: 20%;
  }
  
  .textoLista {
    margin-top: 10%;
    font-family: 'Scope One', serif;
    font-size: 14px;
  }
  
  .focoSkills {
    width: 23%;
    margin-top: 15%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }  
}

@media (min-width: 1200px) {
  .personalSkills{
    background-color: #fff;
    height: 74vh;
    padding: 5%;
  }
  
  .lista {
    margin-top: 20%;
  }
  
  .textoLista {
    margin-top: 10%;
    font-family: 'Scope One', serif;
    font-size: 15px;
  }
  
  .focoSkills {
    width: 24%;
    margin-top: 15%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }  
}