@media only screen and (min-width: 5px) and (max-width: 340px) {
    .backgroundSentence {
        background-color: #d4f1e7;
        height: 27vh;
        width: 23.5rem;
      }
      
      .doWhatU {
        font-family: "Italian", serif;
        font-weight: bolder;
        font-size: 14px;
        margin-top: 14%;
        padding: 10%;
      }
}

@media (min-width: 341px) and (max-width: 600px) {
    .backgroundSentence {
        background-color: #d4f1e7;
        height: 27vh;
        width: 26.5rem;
      }
      
      .doWhatU {
        font-family: "Italian", serif;
        font-weight: bolder;
        font-size: 14px;
        margin-top: 14%;
        padding: 10%;
      }    
}

@media (min-width: 601px) and (max-width: 992px) {
    .backgroundSentence {
        background-color: #d4f1e7;
        height: 30vh;
      }
      
      .doWhatU {
        font-family: "Italian", serif;
        font-weight: bolder;
        font-size: 25px;
        margin-top: 20%;
        padding: 6%;
      }      
}

@media (min-width: 993px) {
    .backgroundSentence {
        background-color: #d4f1e7;
        height: 30vh;
      }
      
      .doWhatU {
        font-family: "Italian", serif;
        font-weight: bolder;
        font-size: 25px;
        margin-top: 20%;
        padding: 6%;
      }     
}

@media (min-width: 1200px) {
    .backgroundSentence {
        background-color: #d4f1e7;
        height: 30vh;
      }
      
      .doWhatU {
        font-family: "Italian", serif;
        font-weight: bolder;
        font-size: 25px;
        margin-top: 20%;
        padding: 6%;
      }
}