@media (min-width: 5px) and (max-width: 340px) {
  .technicalSkills {
    background-color: #d4f1e7;
    /* display: flex;
    justify-content: center; */
    height: 68vh;
    width: 24.5rem;
  }

  .technicalBox {
    display: inline-block;
  }

  .titleTech {
    margin-bottom: 19%; 
    margin-top: 25%;
  }
  
  .devicon-html5-plain-wordmark {
    font-size: 4rem;
  }

  .devicon-css3-plain-wordmark {
    font-size: 4rem;
  }
  
  .devicon-javascript-plain {
    font-size: 3rem;
  }
  
  .devicon-bootstrap-plain-wordmark {
    font-size: 3.5rem;  
  }
  
  .devicon-react-original-wordmark {
    font-size: 4rem;
  }
  
  .devicon-github-plain-wordmark {
    font-size: 4rem;
  }
  
}

@media (min-width: 341px) and (max-width: 600px) {
  .technicalSkills {
    background-color: #d4f1e7;
    /* display: flex;
    justify-content: center; */
    height: 68vh;
    width: 30rem;
  }

  .technicalBox {
    display: inline-block;
  }

  .titleTech {
    margin-bottom: 19%; 
    margin-top: 20%;
  }
  
  .devicon-html5-plain-wordmark {
    font-size: 4rem;
  }

  .devicon-css3-plain-wordmark {
    font-size: 4rem;
  }
  
  .devicon-javascript-plain {
    font-size: 3rem;
  }
  
  .devicon-bootstrap-plain-wordmark {
    font-size: 3.5rem;  
  }
  
  .devicon-react-original-wordmark {
    font-size: 4rem;
  }
  
  .devicon-github-plain-wordmark {
    font-size: 4rem;
  }
}

/* @media (min-width: 341px) and (max-width: 600px) and (orientation: landscape) {
  .technicalSkills {
    background-color: #d4f1e7;
    display: flex;
    justify-content: center;
    height: 150vh;
    padding: 5%;
  }
  
  .technicalBox {
    margin-top: 20%;
  }
  
  .html {
    width: 65%;
    margin-bottom: 10%;
  
  }
  
  .css {
    width: 47%;
  }
  
  .javascript {
    width: 48%;
  }
  
  .bootstrap {
    width: 50%;
    margin-top: 5%;
  }
  
  .materialize {
    width: 55%;
    margin-top: 11%;
  }
  
  .github {
    width: 50%;
  }
} */

@media (min-width: 601px) and (max-width: 992px) {
  .technicalSkills {
    background-color: #d4f1e7;
    /* display: flex;
    justify-content: center; */
    height: 68vh;
    width: 69rem;
  }

  .technicalBox {
    display: inline-flex;
    align-items: baseline;
  }

  .titleTech {
    margin-bottom: 19%; 
    margin-top: 26%;
  }
  
  .devicon-html5-plain-wordmark {
    font-size: 4rem;
  }

  .devicon-css3-plain-wordmark {
    font-size: 4rem;
  }
  
  .devicon-javascript-plain {
    font-size: 3rem;
  }
  
  .devicon-bootstrap-plain-wordmark {
    font-size: 3.5rem;  
  }
  
  .devicon-react-original-wordmark {
    font-size: 4rem;
  }
  
  .devicon-github-plain-wordmark {
    font-size: 4rem;
  }
}

@media (min-width: 993px) {
  .technicalSkills {
    background-color: #d4f1e7;
    /* display: flex;
    justify-content: center; */
    height: 80vh;
  }

  .technicalBox {
    display: inline-flex;
    align-items: baseline;
  }

  .titleTech {
    margin-bottom: 19%; 
    margin-top: 26%;
  }
  
  .devicon-html5-plain-wordmark {
    font-size: 4rem;
  }

  .devicon-css3-plain-wordmark {
    font-size: 4rem;
  }
  
  .devicon-javascript-plain {
    font-size: 3rem;
  }
  
  .devicon-bootstrap-plain-wordmark {
    font-size: 3.5rem;  
  }
  
  .devicon-react-original-wordmark {
    font-size: 4rem;
  }
  
  .devicon-github-plain-wordmark {
    font-size: 4rem;
  }
}

@media (min-width: 1200px) {
  .technicalSkills {
    background-color: #d4f1e7;
    /* display: flex;
    justify-content: center; */
    height: 54vh;
  }

  .technicalBox {
    display: inline-flex;
    align-items: baseline;
  }

  .titleTech {
    margin-bottom: 19%; 
    margin-top: 26%;
  }
  
  .devicon-html5-plain-wordmark {
    font-size: 4rem;
  }

  .devicon-css3-plain-wordmark {
    font-size: 4rem;
  }
  
  .devicon-javascript-plain {
    font-size: 3rem;
  }
  
  .devicon-bootstrap-plain-wordmark {
    font-size: 3.5rem;  
  }
  
  .devicon-react-original-wordmark {
    font-size: 4rem;
  }
  
  .devicon-github-plain-wordmark {
    font-size: 4rem;
  }
}