* {
  margin: 0;
  padding: 0;
}

.background1 {
  background-image: url("../src/img/fondo.png");
  background-repeat: no-repeat;
  height: 70vh;

}

nav {
  background: rgba(0, 0, 0, 0.2) !important;
}

.name {
  font-family: 'Capriola', sans-serif;
  font-size: 50px;
  display: flex;
  justify-content: center;
  margin-top: 35%;
}

.FrontE {
  font-family: 'Capriola', sans-serif;
  font-size: 20px;
  display: flex;
  justify-content: center;
  margin-top: -5%;
}

.aboutMe {
  font-family: 'Capricola', sans-serif;
  font-size: 35px;
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.textAbout {
  font-family: 'Capricola', sans-serif;
  font-size: 15px;
  display: flex;
  justify-content: center;
  padding: 12%;
}

.skills {
  background-color: #d4f1e7;
  display: flex;
  justify-content: center;
}

.imgSkills {
  width: 76%;
  margin-top: 20%;
  padding-left: 20%;
}