* {
  margin: 0;
  padding: 0;
}

/* Presentation */

.background1 {
  background-image: url("../src/img/fondo.png");
  background-repeat: no-repeat;
  height: 90vh;

}

nav {
  background: rgba(0, 0, 0, 0.2) !important;
}

.name {
  font-family: 'Merienda One', cursive;
  font-size: 50px;
  display: flex;
  justify-content: center;
  margin-top: 35%;
}

.FrontE {
  font-family: 'Ialiana', serif;
  font-weight: 300;
  font-size: 20px;
  display: flex;
  justify-content: center;
  margin-top: -5%;
}

.buttonCV {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

/* About Me */

.titlePages {
  font-family: 'Italiana',serif;
  font-size: 25px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-top: 30%;
}

.textAbout {
  font-family: 'Scope One',serif;
  font-size: 18px;
  display: flex;
  justify-content: center;
  padding: 6%;
}

.textAbout2 {
  margin-top: -8%;
  margin-bottom: 20%;
  justify-content: center;
}

/* Skills */

.skills {
  background-color: #d4f1e7;
  display: flex;
  justify-content: center;
}

.tecnicas {
  font-family: 'Italiana', serif;
  font-weight: bold;
  font-size: 19px;
  margin-top: 15%;
}

.imgSkills {
  width: 76%;
  margin-top: 20%;
  padding-left: 20%;
}

.personales {
  font-family: 'Italiana', serif;
  font-weight: bold;
  font-size: 19px;
  margin-top: 65%;
}



/* Projects */

.backgroundProjects {
  margin-top: -5%;
}

.cards {
  width: 81%;
  margin-left: 10%;;
}

.card-image {
  height: 30vh;
}

.imgPokemon {
  margin-top: 9%;
  padding: 5%;
}

.imgTicTac {
  padding: 35%;
  margin-top: -25%;
}

.backgTicTac {
  background-color: #02aaff;
}

/* Interests */

.backgroundInterests {
  background-color: #5E6868;
}

.interest {
  margin-top: 30%;
  margin-left: 50%;
}

.interest2 {
  margin-top: 10%;
  margin-left: 30%;
}

/* Sentence */

.backgroundSentence {
  background-color: #d4f1e7;
}

.doWhatU {
  font-size: 25px;
  padding: 10%;
}

/* Contact */

.imgContact {
  width: 15%;
}